.jumbotron
  position: relative
  text-shadow: 0 1px 0 rgba(0,0,0,.1)
  background-color: #eee
  background-image: linear-gradient(to bottom,#b1b1b1 0,#eee 100%);
  background-repeat: repeat-x

.input-group
  max-width: 30em
